#about-page {
  font-family: Noto Sans;
  display: flex;
}

.img {
  max-width: 75%;
  height: auto;
  border-radius: 50px;
}

.main-content {
  flex-grow: 1; /* Take up the remaining space */
  padding: 20px; /* Optional padding */
}

.desc-col {
  text-align: left;
  padding: 2rem;
}

.text-indent {
  text-indent: 25px;
}

.icon {
  height: 50px;
  margin: 1rem;
}

a:visited {
  color: #d3d3d3;
}
