.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.body {
  font-size: 16px;
  text-align: center;
}

.hover-image-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  /* height: 100px;
  width: 100px; */
  width: 50%;
  height: auto;
}

.hover-image-text img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: Noto Sans;
}

.hover-image-text:hover .hover-text {
  opacity: 1;
}
