#backButton {
  padding: 10px 20px;
  background-color: #d3d3d3;
  color: #342e37;
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer; /* Cursor changes to a hand icon when hovering */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#backButton:hover {
  background-color: white; /* Darker shade of green on hover */
}
