#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex; /* Enable flexbox */
}

.main-content {
  flex-grow: 1; /* Take up the remaining space */
  padding: 20px; /* Optional padding */
}
